h1 {
  text-align: center;
  margin: 5vh 5vh;
}

body {
  background-color: beige;
  font-family: "Source Sans Pro", sans-serif;
}

p {
  font-weight: 300;
  font-size: 1.4rem;
}
.container {
  background-color: white;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 25% 75%;
}

.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.postlist {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-left: 3vw;
}

@media (max-width: 1199.98px) {
  .postlist {
    visibility: hidden;
  }
}

.page {
  max-width: 700px;
  text-align: justify;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  line-height: 1.75rem;
  overflow: hidden;
  justify-self: center;
}
