extends layout.pug

block content
  .page
    h2 Create new post form!
    form#addPost(action='/posts/add', method='post', name='addPost')
      label(for='addPostTitle') Enter post title: 
      br
      input#addPostTitle.formfield(type='text', name='title', value='New post title')
      br
      label(for='content') Enter post content: 
      br
      textarea.formfield(type='textarea', name="content", cols="30", rows="10" form='addPost') New post content
      br
      input(type='submit', value='Create new post!')
