extends layout.pug

block content
  .page
    h2 Delete post!
    form#deletePost(action='/posts/delete', method='post', name='deletePost')
      each post in posts
        label(for=post.newSlug) #{post.title}: 
        input(type='radio', name='title', value=post.title, id=post.newSlug)
        br
      button.btn.btn-danger(type='submit') Delete post
