html
  head
    title Kielx blog
  
  body
    h1 Welcome to Kielx's blog!
    console.log(posts)
    h2= posts.one.title
    p= posts.one.content
    br
    p By #{posts.one.author}, posted on #{posts.one.added}
