extends layout.pug
block head
  style
    include ../style.css

  - var param = params.postname
block content
  .container
    .header
      h1 Welcome to Kielx's blog!
    .postlist
      h2 My posts:
      ul
        each post in posts
          li
            a(href=`${post.newSlug}`) #{post.title}
    
    .page
      each post in posts
        if post['newSlug'] == param
          p= post['content']
