extends layoutNew.pug

block content
  if ErrorMessages.length > 0
    each message in ErrorMessages
      div(class="alert alert-danger" role="alert" style="margin: 1.5vh 30vw; text-align: center")
        h6= `${message}`
  form(style="margin: 50px 30vw", action="/users/register", method='post', name='addPost')
      label(for='Username') Enter Username: 
      br
      if username.length > 0
        input#Username.formfield(type='text', name='Username', value=username[0])
      else
        input#Username.formfield(type='text', name='Username', placeholder=`Enter your Username`)
      br
      label(for='Password') Enter Password: 
      br
      input#Password.formfield(type='password', name='Password', placeholder='Enter your password')
      label(for='Email') Enter E-mail adress: 
      br
      if email.length > 0
        input#Email.formfield(type='text', name='email', value=email[0])
      else
        input#Email.formfield(type='text', name='email', placeholder='Enter your E-mail adress')
      br
      br
      button.btn.btn-primary(type='submit') Create new post